{% extends 'base.html.twig' %}

{% block body %}
    <h1>Suggérer un cours</h1>

    <h3>Liste des propositions</h3>
    <table border="1">
        <tr>
            <th>Matière</th>
            <th>Difficulté</th>
            <th>Votes</th>
            <th>Créateur</th>
            <th></th>
            <th></th>
        </tr>
        {% for suggest in suggestList %}
            {% if suggest is not empty %}
                <tr>
                    <td>{{ suggest.idMatiere }}</td>
                    <td>
                        {% for promo in suggest.idPromo %}
                            {{ promo.promo }}
                        {% endfor %}
                    </td>
                    <td>
                        {# compte toutes les personnes lié à la proposition #}
                        {% for personne in suggest.idPersonne %}
                            {{ personne.nom }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ suggest.idCreateur.nom }}
                    </td>
                    <td>
                        {% if app.user %}

                            {% for personne in suggest.idPersonne %}
                                {# Si la personne co est le créateur #}
                                {% if app.user.idPersonne == suggest.idCreateur.idPersonne %}
                                    Vous avez déjà votez
                                {# Si la personne co n'est pas le créateur et qu'elle a voté #}
                                {% elseif app.user.idPersonne == personne.idPersonne %}
                                    Vous avez déjà votez
                                {% else %}
                                    <a href="{{ path('vote_suggest', { 'id':suggest.idProposition }) }}">Voter</a>
                                {% endif %}
                            {% endfor %}

                        {% else %}
                            <i>Vous devez vous connectez pour voter</i>
                        {% endif %}
                    </td>
                    <td>
                        {% if app.user.idPersonne == suggest.idCreateur.idPersonne or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('delete_suggest', { 'id':suggest.idProposition }) }}">Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>Il n'y a pas de cours suggérer</tr>
            {% endif %}
        {% endfor %}
    </table>
    <br />

    <h3>Suggerer un cours</h3>
    {{ form_start(formProposition) }}

    {{ form_label(formProposition.idMatiere) }}
    <br />
    {{ form_widget(formProposition.idMatiere) }}
    <br /><br />

    {{ form_label(formProposition.idPromo) }}
    <br />
    {{ form_widget(formProposition.idPromo) }}

    <br /><br />
    {% if app.user %}
        <button>Ajouter la proposition</button>
    {% else %}
        <i>Il faut être connecter pour ajouter une suggestion</i>
    {% endif %}

    {{ form_end(formProposition) }}
    <br />

    <h3>Ajouter une matière</h3>
    {{ form_start(formMatiere) }}

    {{ form_label(formMatiere.intitule) }}
    <br />
    {{ form_widget(formMatiere.intitule) }}

    <br /><br />
    {% if app.user %}
        <button>Ajouter la matière</button>
    {% else %}
        <i>Il faut être connecter pour ajouter une matière</i>
    {% endif %}

    {{ form_end(formMatiere) }}
{% endblock %}
