{% extends 'base.html.twig' %}

{% block body %}
    <h1>Suggérer un cours</h1>

    <h3>Liste des propositions</h3>
    <table border="1">
        <tr>
            <th>Matière</th>
            <th>Difficulté</th>
            <th>Votes</th>
            <th></th>
        </tr>
        {% for suggest in suggestList %}
            {% if suggest is not empty %}
                <tr>
                    <td>{{ suggest.idMatiere }}</td>
                    <td>
                        {% for promo in suggest.idPromo %}
                            {{ promo.promo }}
                        {% endfor %}
                    </td>
                    <td></td>
                    <td>
                        <a href="{{ path('delete_suggest', { 'id':suggest.idProposition }) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>Il n'y a pas de cours suggérer</tr>
            {% endif %}
        {% endfor %}
    </table>
    <br />

    <h3>Suggerer un cours</h3>
    {{ form_start(formProposition) }}

    {{ form_label(formProposition.idMatiere) }}
    <br />
    {{ form_widget(formProposition.idMatiere) }}
    <br /><br />

    {{ form_label(formProposition.idPromo) }}
    <br />
    {{ form_widget(formProposition.idPromo) }}

    <br /><br />
    {% if app.user %}
        <button>Ajouter la proposition</button>
    {% else %}
        <i>Il faut être connecter pour ajouter une suggestion</i>
    {% endif %}

    {{ form_end(formProposition) }}
    <br />

    <h3>Ajouter une matière</h3>
    {{ form_start(formMatiere) }}

    {{ form_label(formMatiere.intitule) }}
    <br />
    {{ form_widget(formMatiere.intitule) }}

    <br /><br />
    {% if app.user %}
        <button>Ajouter la matière</button>
    {% else %}
        <i>Il faut être connecter pour ajouter une matière</i>
    {% endif %}

    {{ form_end(formMatiere) }}
{% endblock %}
