{% extends "base.html.twig" %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Créer une nouvelle question</h1>

        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
            nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <a href="{{ path('add_internship') }}">Donner un stage</a>
    </div>
{% endblock %}


{% block body %}
        {# affiche le formulaire #}
        {{ form_start(questionForm, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_label(questionForm.title) }}
        {{ form_widget(questionForm.title, {"attr": {"class":"yoyoyo"}}) }}
        {{ form_errors(questionForm.title) }}
        <br />
        {{ form_row(questionForm.description) }}

        <br />
        {{ form_label(questionForm.matiere) }}
        <br />
        {{ form_widget(questionForm.matiere) }}
        <br />

    {{ form_end(questionForm) }}
{% endblock %}

{% block title %}Créer une nouvelle question{% endblock %}