{% extends "base.html.twig" %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">{{ question.title }}</h1>
    </div>
    {% if question.Personne.id_personne is same as (app.user.id_personne) or is_granted('ROLE_ADMIN') %}
        <a href="{{ path("close_question", {"id": question.idQuestion}) }}">Clore la question</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path("delete_question", {"id": question.idQuestion}) }}">Supprimer la question</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="center">
        <p>Créée par {{ question.author.nom }} {{ question.author.prenom }}</p>
        <p style="text-decoration: underline">Date de création :</p>
        {{  question.dateCreated|format_datetime('full', 'short', locale='fr') }}


    </div> <br />

    <div class="center">
        <p style="text-decoration: underline">Description : </p>
        {{ question.description }}
    </div>

    <br />
    <div class="center">
        Nombre de vote{{ question.nbVote > 1 ? 's' : '' }}&nbsp;: {{ question.nbVote }}
    </div>

    <br />
    <div class="center">
        <a href="{{ path('add_vote', {"id": question.idQuestion}) }}">Voter pour cette question&nbsp;!</a>
    </div>

    <br /> <br />

    {# on passe l'id de la question dans l'URL pour savoir à quelle question relier le commentaire qui sera créé #}
    {% if question.statut is same as (0) %}
        <a href="{{ path("comment", {'id': question.idQuestion}) }}" style="text-decoration: underline" class="center">Ajouter un commentaire</a>
    {% endif %}
    <br />
    <h2 class="center">Derniers commentaires</h2>
    {% for comment in comments %}
        <article class="center">
            <br />
            <h5>{{ comment.commentAuthor.nom }} {{ comment.commentAuthor.prenom }} à posté :</h5>
            <div>{{ comment.content }}</div>
            <br />
            <div>Le {{ comment.dateCreated|format_datetime('full', 'short', locale='fr') }}</div>

            {% if app.user.idPersonne is same as(comment.commentAuthor.idPersonne) or is_granted('ROLE_ADMIN') %}
                {% if question.statut is same as (0) %}
                    <a href="{{ path("update_comment", {'id': comment.idComment}) }}">Modifier</a> / <a href="{{ path("delete_comment", {'id': comment.idComment}) }}">Supprimer</a>
                {% endif %}
            {% endif %}
        </article>
    {% else %}
        <p class="center">Il n'y as pas encore de commentaire</p>
    {% endfor %}

    <div>
        <br />
        {{ knp_pagination_render(comments) }}
    </div>

{% endblock %}