{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="display-4 pb-5">Please sign in</h1>
            <label for="inputMail">Mail</label>
            <input type="text" value="{{ last_username }}" name="mail" id="inputMail" required autofocus>

            <br />
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" required>

            <br />
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <button type="submit">
                Sign in
            </button>
        </form>

        <a href="{{ path("register") }}"> Pas encore de compte ?</a>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
