{% extends 'base.html.twig' %}


{% block body %}
    <h1>Tutorat & Entraide</h1>
    <a href="{{ path('courses') }}">Les cours</a>
    <br />

    <div>Le tutorat c'est quoi ?</div>
    <br />

    <a href="{{ path('explanation') }}">En savoir plus</a>
    <br />

    <h3>Participer</h3>
    <div>
        <a href="{{ path('courses') }}">Les cours</a>
    </div>

    <div>
        {% if app.user %}
            <a href="{{ path('give_courses') }}">Donner un cours</a>
        {% else %}
            <a href="{{ path('app_login') }}">Donner un cours</a>
        {% endif %}
    </div>

    <div>
        <a href="{{ path('suggest_courses') }}">Suggérer un cours</a>
    </div>
    <br />

    <div>Pourquoi donner un cours ?</div>
    <br />

    <a href="{{ path('courses') }}">Les cours</a>
    <br />

    <a href="{{ path('explanation') }}">En savoir plus</a>
    <br />

{% endblock %}
