{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Tutorat & Entraide</h1>

        <a href="{{ path('courses') }}">
            <div class="button">
                <ul>
                    <li>
                        Les cours
                        <span></span><span></span><span></span><span></span>
                    </li>
                </ul>
            </div>
        </a>
    </div>
{% endblock %}

{% block body %}
    <div class="media">
        <img src="image/tutorat1.jpg" class="mr-5" alt="Le tutorat c'est quoi?" width="30%">
        <div class="media-body">
            <h2 class="mt-4">Media heading</h2>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <div class="button">
                <ul>
                    <li>
                        En savoir plus
                        <span></span><span></span><span></span><span></span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <img src="image/tutorat2.jpg" class="mr-5 ml-5" alt="Participer" width="10%" height="20%">
        <div class="col">
            <div class="card">
                <h4>Les cours</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                    nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
                <a href="{{ path('courses') }}" class="button">
                    <div>
                        <ul>
                            <li>
                                En savoir plus
                                <span></span><span></span><span></span><span></span>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4>Donner un cours</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                    nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <a href="{{ path('give_courses') }}" class="button">
                    <div>
                        <ul>
                            <li>
                                En savoir plus
                                <span></span><span></span><span></span><span></span>
                            </li>

                        </ul>
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4>Suggérer un cours</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                    nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

                <a href="{{ path('suggest_courses') }}" class="button">
                    <div>
                        <ul>
                            <li>
                                En savoir plus
                                <span></span><span></span><span></span><span></span>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div class="media">
        <div class="media-body">
            <h2 class="mt-4">Media heading</h2>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <a href="{{ path('courses') }}" class="button">
                <div>
                    <ul>
                        <li>
                            Tutorer
                            <span></span><span></span><span></span><span></span>
                        </li>
                    </ul>
                </div>
            </a>
            <a href="{{ path('rules') }}" class="button">
                <div>
                    <ul>
                        <li>
                            Le règlement
                            <span></span><span></span><span></span><span></span>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
        <img src="image/tutorat3.jpg" class="mr-5" alt="Le tutorat c'est quoi?" width="40%">
    </div>

{% endblock %}
