{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Pannel admin</h1>
    </div>
{% endblock %}

{% block body %}
    <h3>Inscrit</h3>
    {#Barre de recherche inscrit#}
    <div id="divRecherche" style="text-align: center">
        <ul class="list-inline">
            <li>
                <form method="post">
                    <input type="submit" value="Tous"/>
                </form>
            </li>
            <li><button class="search-button">Plus de critères</button></li>
        </ul>
        <div class="form-div">
            {{ form_start(formStudentAdminSearch) }}
            <label>Rechercher par : </label>
            <select class="type-search">
                <option value="">Choisissez une option</option>
                <option value="role"> Rôle </option>
                <option value="classe"> Classe </option>
            </select>
            <br /><br />

            <div class="role-search">
                {{ form_row(formStudentAdminSearch.role) }}
                <br />
            </div>

            <div class="classe-search">
                {{ form_row(formStudentAdminSearch.idClasse) }}
                <br />
            </div>

            <button>Rechercher</button>
            {{ form_end(formStudentAdminSearch) }}
            <br />
        </div>
    </div>
    {# Fin barre de recherche #}

    {% if students is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.nom }}</td>
                        <td>{{ student.prenom }}</td>
                        <td>
                            {{ student.idClasse.idPromo }} / {{ student.idClasse }}
                        </td>
                        <td>
                            {% if student.role is same as(0) %}
                                User
                            {% elseif student.role is same as(1) %}
                                Admin
                            {% endif %}
                        </td>
                        <td>
                            {% if student.role is same as(0) %}
                                <a href="{{ path('promote_student', { 'id':student.idPersonne }) }}">Promote</a>
                            {% elseif student.role is same as(1) %}
                                <a href="{{ path('demote_student', { 'id':student.idPersonne }) }}">Demote</a>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('delete_student', { 'id':student.idPersonne }) }}">Expulser</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(students) }}
        </div>
    {% else %}
        <tr>Il n'y a pas de personne inscrite</tr>
        <br />
    {% endif %}

    <br />
    {#Barre de recherche cours#}
    <div id="divRecherche" style="text-align: center">
        <ul class="list-inline">
            <li>
                <form method="post">
                    <input type="submit" value="Tous"/>
                </form>
            </li>
            <li><button class="search-button">Plus de critères</button></li>
        </ul>
        <div class="form-div">
            {{ form_start(formCourseAdminSearch) }}
            <label>Rechercher par : </label>
            <select class="type-search">
                <option value="">Choisissez une option</option>
                <option value="matiere"> Matière </option>
                <option value="status"> Status </option>
            </select>
            <br /><br />

            <div class="matiere-search">
                {{ form_row(formCourseAdminSearch.idMatiere) }}
                <br />
            </div>

            <div class="status-search">
                {{ form_row(formCourseAdminSearch.status) }}
                <br />
            </div>

            <button>Rechercher</button>
            {{ form_end(formCourseAdminSearch) }}
            <br />
        </div>
    </div>
    {# Fin barre de recherche #}

    <h3>Cours</h3>
    {% if courses is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Matière</th>
                    <th scope="col">Tuteur</th>
                    <th scope="col">Promo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Date de Creation</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.idMatiere.intitule }}</td>

                    <td>
                        {% for tuteur in tuteur %}
                            {% if course.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (1) %}
                                {{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>{{ course.idPromo.promo }}</td>

                    {% if course.status is same as(0) %}
                        <td>StandBy</td>
                    {% elseif course.status is same as(1) %}
                        <td>Terminé</td>
                    {% elseif course.status is same as(2) %}
                        <td>Annulé</td>
                    {% endif %}

                    <td>{{ course.date |format_date(locale='fr') }}</td>
                    <td>{{ course.dateCreation |format_date(locale='fr') }}</td>

                    <td>
                        {% if course.status is same as(0) %}
                            <a href="{{ path('update_courses', { 'id':course.idCours }) }}">Modifier le cours</a>
                        {% endif %}
                    </td>
                    <td>{% if course.status is same as(0) %}
                            <a href="{{ path('close_course', { 'id':course.idCours }) }}">Clore le cours</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if course.status is same as(0) %}
                            <a href="{{ path('cancel_course', { 'id':course.idCours }) }}">Annuler le cours</a>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('delete_course', { 'id':course.idCours }) }}">Supprimer le cours</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(courses) }}
        </div>
    {% else %}
        <tr>Il n'y a pas de cours</tr>
        <br />
    {% endif %}

    <br />
    {#Barre de recherche stage#}
    <div id="divRecherche" style="text-align: center">
        <ul class="list-inline">
            <li>
                <form method="post">
                    <input type="submit" value="Tous"/>
                </form>
            </li>
            <li><button class="internship-search-button">Plus de critères</button></li>
        </ul>
        <div class="internship-form-div">
            {{ form_start(formInternshipAdminSearch) }}
            <label>Rechercher par : </label>
            <select class="type-search-admin">
                <option value="">Choisissez une option</option>
                <option value="matiereInternship"> Matière </option>
                <option value="statusInternship"> Status </option>
            </select>
            <br /><br />

            <div class="internship-matiere-search">
                {{ form_row(formInternshipAdminSearch.idMatiere) }}
                <br />
            </div>

            <div class="internship-status-search">
                {{ form_row(formInternshipAdminSearch.status) }}
                <br />
            </div>

            <button>Rechercher</button>
            {{ form_end(formInternshipAdminSearch) }}
            <br />
        </div>
    </div>
    {# Fin barre de recherche #}

    <h3>Stages</h3>
    {% if internship is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Matière</th>
                    <th scope="col">Tuteur</th>
                    <th scope="col">Promo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date du prochain cours</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for internship in internship %}
                    <tr>
                        <td>{{ internship.idMatiere.intitule }}</td>

                        <td>
                            {% for tuteur in tuteur %}
                                {% if internship.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (1) %}
                                    {{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>{{ internship.idPromo.promo }}</td>

                        {% if internship.status is same as(0) %}
                            <td>StandBy</td>
                        {% elseif internship.status is same as(1) %}
                            <td>Terminé</td>
                        {% elseif internship.status is same as(2) %}
                            <td>Annulé</td>
                        {% endif %}

                        <td>{{ internship.date |format_date(locale='fr') }}</td>

                        <td>
                            {% if internship.status is same as(0) %}
                                <a href="{{ path('update_internship', { 'id':internship.idCours }) }}">Modifier le stage</a>
                            {% endif %}
                        </td>
                        <td>{% if internship.status is same as(0) %}
                                <a href="{{ path('close_course', { 'id':internship.idCours }) }}">Clore le stage</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if internship.status is same as(0) %}
                                <a href="{{ path('cancel_course', { 'id':internship.idCours }) }}">Annuler le stage</a>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('delete_course', { 'id':internship.idCours }) }}">Supprimer le stage</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(internship) }}
        </div>
    {% else %}
        <tr>Il n'y a pas de stage</tr>
        <br />
    {% endif %}

    <br />
    {#Barre de recherche matière#}
    <div id="divRecherche" style="text-align: center">
        <ul class="list-inline">
            <li>
                <form method="post">
                    <input type="submit" value="Tous"/>
                </form>
            </li>
            <li><button class="matiere-search-button">Plus de critères</button></li>
        </ul>
        <div class="matiere-form-div">
            {{ form_start(formMatiereAdminSearch) }}
            <label>Rechercher par : </label>
            <select class="type-search-matiere">
                <option value="">Choisissez une option</option>
                <option value="validation"> Validation </option>
            </select>
            <br /><br />

            <div class="validation-search">
                {{ form_row(formMatiereAdminSearch.validationAdmin) }}
                <br />
            </div>

            <button>Rechercher</button>
            {{ form_end(formMatiereAdminSearch) }}
            <br />
        </div>
    </div>
    {# Fin barre de recherche #}

    <h3>Matières</h3>
    {% if matieres is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Matière</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for matiere in matieres %}
                    <tr>
                        <td>{{ matiere.intitule }}</td>
                        <td>
                            {% if matiere.validationadmin is same as(0) %}
                                Non validé
                            {% elseif matiere.validationadmin is same as(1) %}
                                Validé
                            {% endif %}
                        </td>
                        <td><a href="{{ path('update_matiere', { 'id':matiere.idMatiere }) }}">Modifier la matière</a></td>
                        <td><a href="{{ path('delete_matiere', { 'id':matiere.idMatiere }) }}">Supprimer la matière</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            {{ knp_pagination_render(matieres) }}
        </div>
    {% else %}
        Il n'y a pas de matière
        <br />
    {% endif %}
{% endblock %}
