{% extends 'base.html.twig' %}

{% block body %}
    <h3>Modifier une matiere</h3>

    {{ form_start(form) }}
    {{ form_label(form.intitule) }}
    <br />
    {{ form_widget(form.intitule) }}
    <br /><br />

    {{ form_label(form.validationAdmin) }}
    <br />
    {{ form_widget(form.validationAdmin) }}
    <br /><br />

    <button>Modifier la matière</button>
    {{ form_end(form) }}

{% endblock %}
