{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Modifier une matière</h1>
    </div>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_label(form.intitule) }}
    <br />
    {{ form_widget(form.intitule) }}
    <br /><br />

    {{ form_label(form.validationAdmin) }}
    <br />
    {{ form_widget(form.validationAdmin) }}
    <br /><br />

    <button>Modifier la matière</button>
    {{ form_end(form) }}

{% endblock %}
