{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Nous contacter</h1>

        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
            nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    </div>
{% endblock %}

{% block body %}
    {{ form_start(form) }}

        {{ form_label(form.intitule) }}
        <br />
        {{ form_widget(form.intitule) }}
        <br /><br />

        {{ form_label(form.message) }}
        <br />
        {{ form_widget(form.message) }}
        <br /><br />

        {{ form_label(form.mail) }}
        <br />
        {{ form_widget(form.mail) }}
        <br /><br />

            <button>Ajouter le cours</button>


    {{ form_end(form) }}

{% endblock %}
