<html>
    <body>
    <h1>
        Un nouveau message a été envoyé de la part de {{ app.user.nom }} {{ app.user.prenom }}
    </h1>

    Intitulé : <br>

    {{ data.intitule }}<br><br>

    Message :<br>
    {{ data.message }}<br><br>

    Adresse email :<br>
    {{ data.mail }}
    </body>
</html>