{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Créer une nouvelle question en math !</h1>

        <h5><a href="{{ path('forum') }}">Retour à la page principale du forum</a></h5>
    </div>
{% endblock %}

{% block body %}
    <main>
        <div class="card text-center">
            <div class="card-header">
                <h5>Quelques règles simple sur le forum :</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at felis ac eros laoreet dictum ut scelerisque mauris.
                    In hac habitasse platea dictumst. In condimentum enim quam, ut placerat mauris convallis id. Donec molestie turpis
                    sit amet est pretium fringilla. Morbi quis orci bibendum, semper dui id, porta orci. Donec sagittis, sapien sit amet
                    venenatis imperdiet, ante neque tempus leo, sed fermentum sem velit id ipsum. Fusce ac ultrices velit, ut ultricies
                    leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                {{ form_start(questionForm, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group">
                    <label for="exampleFormControlInput1"></label>
                    {{ form_label(questionForm.title) }}
                    {{ form_widget(questionForm.title, {"attr": {"class":"yoyoyo"}}) }}
                    {{ form_errors(questionForm.title) }}
                </div>
                <br />

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    {{ form_row(questionForm.description) }}
                </div>
                <br />

                {{ form_end(questionForm) }}
            </div>
        </div>
    </main>
{% endblock %}

