{% extends 'base.html.twig' %}

{% block body %}
    <h3>Ajouter un stage</h3>

    {{ form_start(form) }}
    {{ form_label(form.intitule) }}
    <br />
    {{ form_widget(form.intitule) }}
    <br /><br />

    {{ form_label(form.date) }}
    <br />
    {{ form_widget(form.date) }}
    <br /><br />

    {{ form_row(form.heure) }}
    <br />

    {{ form_label(form.idMatiere) }}
    <br />
    {{ form_widget(form.idMatiere) }}
    <br /><br />

    {{ form_label(form.idPromo) }}
    <br />
    {{ form_widget(form.idPromo) }}
    <br /><br />

    <button>Ajouter le stage</button>
    {{ form_end(form) }}

{% endblock %}
