{% extends 'base.html.twig' %}
{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Boite à idées</h1>

    </div>
{% endblock %}
{% block body %}

    <div class="list-group mt-5">
        <h2 id="design">Boite</h2>

        {% for question_forum in questions_forums %}
            {% if question_forum.matiere == 'Boite' %}
                <a href="{{ path("detail_question", {"id": question_forum.idQuestion}) }}" class="list-group-item list-group-item-action ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ question_forum.title }}</h5>
                        <small>Date de création : {{  question_forum.dateCreated|format_datetime('full', 'short', locale='fr') }}</small>
                    </div>
                    <p class="mb-1"> {{ question_forum.description }}</p>
                    <small>Créé par {{ question_forum.author.nom }} {{ question_forum.author.prenom }}</small>

                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
