<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>ScratchOverflow</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>

    <body>
        <header>
            {# NavBar #}
            <div>
                <a href="{{ path('home') }}">ScratchOverFlow</a> / Tutorat : <a href="{{ path('courses') }}">Les cours</a>,
                <a href="{{ path('internship') }}">Les stages</a> / <a href="{{ path('give_courses') }}">Donner un cours</a> /
                <a href="{{ path('suggest_courses') }}">Suggérer un cours</a> / <a href="{{ path('forum') }}">Forum</a>
                {% if is_granted('ROLE_ADMIN') %}
                      <a href="{{ path('admin') }}">Pannel Admin</a>
                {% endif %}
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                      <a href="{{ path('my_profil') }}">Mon profil</a>
                      <a href="{{ path('app_logout') }}">Se déconnecter</a>
                {% else %}
                     / <a href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
            </div>
            {# End navBar #}

            {# Message de succès #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </header>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.12.4.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

        <footer>
            {# NavBar #}
            <div>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('my_profil') }}">Mon profil : {{ app.user.nom }} {{ app.user.prenom }}</a> |
                {% endif %}
                <a href="{{ path('rules') }}">Règlement</a> | <a href="{{ path('contact_us') }}">Nous contacter</a>
            </div>
            {# End navBar #}
        </footer>
    </body>
</html>
