{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Voulez vous vraiment annuler ce cours / stage ?</h1>
    </div>
{% endblock %}

{% block body %}
    <p><b>{{ course.intitule }}</b></p>

    {{ form_start(form) }}

    {{ form_label(form.commentaires) }}
    <br />
    {{ form_widget(form.commentaires) }}
    <br /><br />

    {{ form_end(form) }}
{% endblock %}
