{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les cours</h1>

    <p>Barre de recherche</p>

    <a href="{{ path('suggest_courses') }}">Suggérer un cours</a>
    <br />

    <h3>Cette semaine</h3>
    {% if dateNow >= LundisemaineCourante or dateNow <= DimanchesemaineCourante %}
        {% for courses in courses %}
                <div>
                    <p><b>{{ courses.idMatiere.intitule }}</b></p>
                    <p>{{ courses.date |format_datetime('full', 'none', locale='fr') }} à {{ courses.heure |format_time('short', locale='fr') }}</p>
                    <p>{{ courses.idPromo.promo }}</p>
                    <p>{{ courses.intitule }}</p>
                    <a href="{{ path('update_courses', { 'id':courses.idCours }) }}">Modifier</a>
                    <button>S'inscrire</button>
                </div>
        {% endfor %}
        <br />
    {% else %}
        <p>Pas de cours</p>
    {% endif %}

    <h3>La semaine prochaine</h3>
    {% if dateNow >= LundisemaineSuivante and dateNow <= DimanchesemaineSuivante %}
        {% for courses in courses %}
            <div>
                <p><b>{{ courses.idMatiere.intitule }}</b></p>
                <p>{{ courses.intitule }}</p>
                <button>S'inscrire</button>
            </div>
        {% endfor %}
        <br />
    {% else %}
        <p>Pas de cours</p>
    {% endif %}

    <h3>Plus tard</h3>
    {% if dateNow > DimanchesemaineSuivante %}
        {% for courses in courses %}
            <div>
                <p><b>{{ courses.idMatiere.intitule }}</b></p>
                <p>{{ courses.intitule }}</p>
                <button>S'inscrire</button>
            </div>
        {% endfor %}
        <br />
    {% else %}
        <p>Pas de cours</p>
    {% endif %}
{% endblock %}
