{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les cours</h1>

    <p>Barre de recherche</p>

    <a href="{{ path('suggest_courses') }}">Suggérer un cours</a>
    <br />

    <h3>Cette semaine</h3>

    {% for cours in cours %}
        <div>
            <p><b>{{ cours.idMatiere.intitule }}</b></p>
            <p>{{ cours.date |date('d/m/Y') }} à {{ cours.heure }}</p>
            <p>Thème ?</p>
            <p>Difficultés ?</p>
            <p>{{ cours.intitule }}</p>
            <a href="#">S'inscrire</a>
        </div>
    {% endfor %}
    <br />

    <h3>La semaine prochaine</h3>
    <div>
        <p>Matière</p>
        <p>Intitulé du cours</p>
        <a href="#">S'inscrire</a>
    </div>
    <br />

    <h3>Plus tard</h3>
    <div>
        <p>Matière</p>
        <p>Intitulé du cours</p>
        <a href="#">S'inscrire</a>
    </div>
    <br />

{% endblock %}
