{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Tutorats</h1>

        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
            nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <a href="{{ path('suggest_courses') }}">Suggérer un cours</a>
    </div>
{% endblock %}

{% block body %}
    {#Barre de recherche#}
    <div id="divRecherche" style="text-align: center">
        <ul class="list-inline">
            <li>
                <form method="post">
                    <input type="submit" value="Tous"/>
                </form>
            </li>
            <li><button class="search-button">Plus de critères</button></li>
        </ul>
        <div class="form-div">
            {{ form_start(formCourseSearch) }}
            <label>Rechercher par : </label>
            <select class="type-search">
                <option value="">Choisissez une option</option>
                <option value="date"> Date </option>
                <option value="titre"> Titre </option>
                <option value="matiere"> Matière </option>
                <option value="promo"> Difficulté </option>
            </select>
            <br /><br />

            <div class="date-search">
                {{ form_row(formCourseSearch.date) }}
                <br />
            </div>

            <div class="titre-search">
                {{ form_row(formCourseSearch.intitule) }}
                <br />
            </div>

            <div class="matiere-search">
                {{ form_row(formCourseSearch.idMatiere) }}
                <br />
            </div>

            <div class="promo-search">
                {{ form_row(formCourseSearch.idPromo) }}
                <br />
            </div>

            <button>Rechercher</button>
            {{ form_end(formCourseSearch) }}
            <br />
        </div>
    </div>
    {# Fin barre de recherche #}

    <div class="row">
        <img src="image/cettesemaine.jpg" class="mr-5 ml-5" alt="cette semaine" width="10%" height="20%">


        {% for courses in courses %}
            {% if courses.date<dateFinSemaine and courses.date>dateDebutSemaine %}
                <div class="col">
                    <div class="card">
                        <div>
                            <h4>{{ courses.idMatiere }}</h4>
                            <ul>
                                <li>{{ courses.date |format_datetime('full', 'none', locale='fr') }} à {{ courses.heure |format_time('short', locale='fr') }}</li>
                                <li>{{ courses.idPromo }}</li>
                                <li>{{ courses.intitule }}</li>
                                {% for tuteur in tuteur %}
                                    {% if courses.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (1) %}
                                        <li>{{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}</li>
                                    {% elseif courses.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (0) %}
                                        <li>_____</li>
                                        <li>{{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}</li>
                                        {% if tuteur.idPersonne.idPersonne is same as(app.user.idPersonne) %}
                                             / <a href="{{ path('unsubscribe_courses', { 'id':courses.idCours }) }}">Se désinscrire</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <li>_____</li>
                            </ul>

                            <div style="text-align: center">
                                {% if app.user %}
                                    {% for tuteur in tuteur %}
                                        {% if courses.idCours is same as(tuteur.idCours.idCours) and app.user.idPersonne is same as(tuteur.idPersonne.idPersonne) and tuteur.rangPersonne is same as (1) %}
                                            <a href="{{ path('update_courses', { 'id':courses.idCours }) }}">Modifier / </a>
                                            <a href="{{ path('close_course', { 'id':courses.idCours }) }}">Clore le cours / </a>
                                            <a href="{{ path('cancel_course', { 'id':courses.idCours }) }}">Annuler le cours</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {% if app.user %}
                            <a href="{{ path('registration_courses', { 'id':courses.idCours }) }}" class="button">
                                <div>
                                    <ul>
                                        <li>
                                            S'inscrire
                                            <span></span><span></span><span></span><span></span>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        {% else %}
                            <i>Vous devez vous connectez pour vous inscrire</i>
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        {% endfor %}

        <br />
        <div>
            {{ knp_pagination_render(courses) }}
        </div>
    </div>

    <div class="row">
        <img src="image/semaineprochaine.jpg" class="mr-5 ml-5" alt="semaine prochaine" width="10%" height="20%">

        {% for courses in courses %}
            {%  if courses.date > dateFinSemaine and courses.date < dateFinSemaineProchaine %}

                <div class="col">
                    <div class="card">
                        <div>
                            <h4>{{ courses.idMatiere }}</h4>
                            <ul>
                                <li>{{ courses.intitule }}</li>
                                {% for tuteur in tuteur %}
                                    {% if courses.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (1) %}
                                        <li>{{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <div style="text-align: center">
                                {% if app.user %}
                                    {% for tuteur in tuteur %}
                                        {% if courses.idCours is same as(tuteur.idCours.idCours) and app.user.idPersonne is same as(tuteur.idPersonne.idPersonne) and tuteur.rangPersonne is same as (1) %}
                                            <a href="{{ path('update_courses', { 'id':courses.idCours }) }}">Modifier / </a>
                                            <a href="{{ path('close_course', { 'id':courses.idCours }) }}">Clore le cours / </a>
                                            <a href="{{ path('cancel_course', { 'id':courses.idCours }) }}">Annuler le cours</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {% if app.user %}
                            <a href="{{ path('registration_courses', { 'id':courses.idCours }) }}" class="button">
                                <div>
                                    <ul>
                                        <li>
                                            S'inscrire
                                            <span></span><span></span><span></span><span></span>
                                        </li>

                                    </ul>
                                </div>
                            </a>
                        {% else %}
                            <i>Vous devez vous connectez pour vous inscrire</i>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <br />
        <div>
            {{ knp_pagination_render(courses) }}
        </div>
    </div>

    <div class="row">
        <img src="image/Plustard.jpg" class="mr-5 ml-5" alt="Plus tard" width="10%" height="20%">
        {% for courses in courses %}
            {% if courses.date > dateFinSemaine and courses.date > dateFinSemaineProchaine %}
                <div class="col">
                    <div class="card">
                        <div>
                            <h4>{{ courses.idMatiere }}</h4>
                            <ul>
                                <li>{{ courses.intitule }}</li>
                                {% for tuteur in tuteur %}
                                    {% if courses.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (1) %}
                                        <li>{{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <div style="text-align: center">
                                {% if app.user %}
                                    {% for tuteur in tuteur %}
                                        {% if courses.idCours is same as(tuteur.idCours.idCours) and app.user.idPersonne is same as(tuteur.idPersonne.idPersonne) and tuteur.rangPersonne is same as (1) %}
                                            <a href="{{ path('update_courses', { 'id':courses.idCours }) }}">Modifier / </a>
                                            <a href="{{ path('close_course', { 'id':courses.idCours }) }}">Clore le cours / </a>
                                            <a href="{{ path('cancel_course', { 'id':courses.idCours }) }}">Annuler le cours</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {% if app.user %}
                            <a href="{{ path('registration_courses', { 'id':courses.idCours }) }}" class="button">
                                <div>
                                    <ul>
                                        <li>
                                            S'inscrire
                                            <span></span><span></span><span></span><span></span>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        {% else %}
                            <i>Vous devez vous connecter pour vous inscrire</i>
                        {% endif %}
                        {#{% if courses.date < dateDebutSemaine  %}#}

                        {#{% endif %}#}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <br />
        <div>
            {{ knp_pagination_render(courses) }}
        </div>

    </div>
{% endblock %}
