{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les cours</h1>

    {#Barre de recherche#}
    <div id="divRecherche">
        <ul class="list-inline">
            <li>
                <form method="post">
                    <input type="submit" value="Tous"/>
                </form>
            </li>
            <li><button class="search-button">Plus de critères</button></li>
        </ul>
        <div class="form-div">
            {{ form_start(formCourseSearch) }}
            <label>Rechercher par : </label>
            <select class="type-search">
                <option value="">Choisissez une option</option>
                <option value="date"> Date </option>
                <option value="titre"> Titre </option>
                <option value="matiere"> Matière </option>
                <option value="promo"> Difficulté </option>
            </select>
            <br /><br />

            <div class="date-search">
                {{ form_row(formCourseSearch.date) }}
                <br />
            </div>

            <div class="titre-search">
                {{ form_row(formCourseSearch.intitule) }}
                <br />
            </div>

            <div class="matiere-search">
                {{ form_row(formCourseSearch.idMatiere) }}
                <br />
            </div>

            <div class="promo-search">
                {{ form_row(formCourseSearch.idPromo) }}
                <br />
            </div>

            <button>Rechercher</button>
            {{ form_end(formCourseSearch) }}
            <br />
        </div>
    </div>

    <a href="{{ path('suggest_courses') }}">Suggérer un cours</a>
    <br />

    <div>
        <h3>Cette semaine</h3>
        {% for courses in courses %}
            <div>
                <p><b>{{ courses.idMatiere }}</b></p>
                <p>{{ courses.date |format_datetime('full', 'none', locale='fr') }} à {{ courses.heure |format_time('short', locale='fr') }}</p>
                <p>{{ courses.idPromo }}</p>
                <p>{{ courses.intitule }}</p>
                <a href="{{ path('update_courses', { 'id':courses.idCours }) }}">Modifier / </a>
                <a href="{{ path('close_course', { 'id':courses.idCours }) }}">Clore le cours / </a>
                <a href="{{ path('cancel_course', { 'id':courses.idCours }) }}">Annuler le cours</a>
                <button>S'inscrire</button>
            </div>
        {% endfor %}
        <br />
        <div>
            {{ knp_pagination_render(courses) }}
        </div>
    </div>

    <div>
        <h3>La semaine prochaine</h3>
        {% for courses in courses %}
            <div>
                <p><b>{{ courses.idMatiere.intitule }}</b></p>
                <p>{{ courses.intitule }}</p>
                <button>S'inscrire</button>
            </div>
        {% endfor %}
        <br />
        <div>
            {{ knp_pagination_render(courses) }}
        </div>
    </div>

    <div>
        <h3>Plus tard</h3>
        {% for courses in courses %}
            <div>
                <p><b>{{ courses.idMatiere.intitule }}</b></p>
                <p>{{ courses.intitule }}</p>
                <button>S'inscrire</button>
            </div>
        {% endfor %}
        <br />
        <div>
            {{ knp_pagination_render(courses) }}
        </div>
    </div>
{% endblock %}
