{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Modifier un cours</h1>
    </div>
{% endblock %}

{% block body %}
    <p><b>{{ courses.idMatiere.intitule }}</b></p>
    <p>{{ courses.idPromo.promo }}</p>

    {{ form_start(form) }}
    {{ form_label(form.intitule) }}
    <br />
    {{ form_widget(form.intitule) }}
    <br /><br />

    {{ form_label(form.date) }}
    <br />
    {{ form_widget(form.date) }}
    <br /><br />

    {{ form_row(form.heure) }}
    <br />

    <button>Modifier</button>
    {{ form_end(form) }}

{% endblock %}
