{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Donner un cours</h1>

        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
            nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

        <p>Cours suggérés :
            {% for suggest in suggest %}
                {% if suggest is not empty %}
                    | {{ suggest.idMatiere.intitule }} -
                    {% for promo in suggest.idPromo %}
                        {{ promo.promo }} |
                    {% endfor %}
                {% else %}
                    <tr>Il n'y a pas de cours suggérer</tr>
                {% endif %}
            {% endfor %}
        </p>
    </div>
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_label(form.intitule) }}
    <br />
    {{ form_widget(form.intitule) }}
    <br /><br />

    {{ form_label(form.date) }}
    <br />
    {{ form_widget(form.date) }}
    <br /><br />

    {#{{ form_label(form.dateCreation) }}#}
    {#<br />#}
    {#{{ form_widget(form.dateCreation) }}#}
    {#<br /><br />#}

    {{ form_row(form.heure) }}
    <br />

    {{ form_label(form.idMatiere) }}
    <br />
    {{ form_widget(form.idMatiere) }}
    <br /><br />

    {{ form_label(form.idPromo) }}
    <br />
    {{ form_widget(form.idPromo) }}
    <br /><br />

    {% if app.user %}
        <button>Ajouter le cours</button>
    {% else %}
        <i>Il faut être connecter pour ajouter un cours</i>
    {% endif %}
    {{ form_end(form) }}

{% endblock %}
