{% extends 'base.html.twig' %}

{% block body %}
    <h3>Donner un cours</h3>
    <p>Cours suggérés :
        {% for suggest in suggest %}
            {% if suggest is not empty %}
                | {{ suggest.idMatiere.intitule }} -
                {% for promo in suggest.idPromo %}
                    {{ promo.promo }} |
                {% endfor %}
            {% else %}
                <tr>Il n'y a pas de cours suggérer</tr>
            {% endif %}
        {% endfor %}
    </p>

    {{ form_start(form) }}
    {{ form_label(form.intitule) }}
    <br />
    {{ form_widget(form.intitule) }}
    <br /><br />

    {{ form_label(form.date) }}
    <br />
    {{ form_widget(form.date) }}
    <br /><br />

    {{ form_row(form.heure) }}
    <br />

    {{ form_label(form.idMatiere) }}
    <br />
    {{ form_widget(form.idMatiere) }}
    <br /><br />

    {{ form_label(form.idPromo) }}
    <br />
    {{ form_widget(form.idPromo) }}
    <br /><br />

    <button>Ajouter le cours</button>
    {{ form_end(form) }}


{% endblock %}
