{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Ajouter un tag</h1>
    </div>
{% endblock %}

{% block body %}
    {{ form_start(formAjout) }}

    {{ form_label(formAjout.idNiveau) }}
    <br />
    {{ form_widget(formAjout.idNiveau) }}
    <br />

    {{ form_label(formAjout.idMatiere) }}
    <br />
    {{ form_widget(formAjout.idMatiere) }}
    <br />

    {{ form_end(formAjout) }}
{% endblock %}
