{% extends 'base.html.twig' %}

{% block titre %}
    <div class="jumbotron" style="margin: 110px; background: none; text-align: center; margin-right:59% ">
        <h1 class="display-4 pb-5">Mon profil</h1>
        <p>{{ app.user.nom }} {{ app.user.prenom }}</p>
        <p>{{ app.user.idClasse.idPromo.idEcole.intitule }}</p>
        <p>{{ app.user.idClasse.idPromo.promo }} - {{ app.user.idClasse.classe }}</p>
    </div>
{% endblock %}

{% block body %}
    <h3>Mes Récompenses</h3>
    <div>ProgressBar du niveau</div>
    <br />

    <h3>Mes cours à venir</h3>
    <div class="row">
        <img src="image/cettesemaine.jpg" class="mr-5 ml-5" alt="cette semaine" width="10%" height="20%">

        {% if coursesFollow is not null %}
            {% for courses in coursesFollow %}
                <div class="col">
                    <div class="card">
                        <div>
                            <h4>{{ courses.idMatiere }}</h4>
                            <ul>
                                <li>{{ courses.date |format_datetime('full', 'none', locale='fr') }} à {{ courses.heure |format_time('short', locale='fr') }}</li>
                                <li>{{ courses.idPromo }}</li>
                                <li>{{ courses.intitule }}</li>

                                {% for tuteur in tuteur %}
                                    {% if courses.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (1) %}
                                        <li>{{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}</li>
                                    {% elseif courses.idCours is same as(tuteur.idCours.idCours) and tuteur.rangPersonne is same as (0) %}
                                        <li>_____</li>
                                        <li>{{ tuteur.idPersonne.nom }} {{ tuteur.idPersonne.prenom }}</li>
                                        {% if tuteur.idPersonne.idPersonne is same as(app.user.idPersonne) %}
                                            / <a href="{{ path('unsubscribe_courses', { 'id':courses.idCours }) }}">Se désinscrire</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <li>_____</li>
                            </ul>

                            <div style="text-align: center">
                                {% if app.user %}
                                    {% for tuteur in tuteur %}
                                        {% if courses.idCours is same as(tuteur.idCours.idCours) and app.user.idPersonne is same as(tuteur.idPersonne.idPersonne) and tuteur.rangPersonne is same as (1) %}
                                            <a href="{{ path('update_courses', { 'id':courses.idCours }) }}">Modifier / </a>
                                            <a href="{{ path('close_course', { 'id':courses.idCours }) }}">Clore le cours / </a>
                                            <a href="{{ path('cancel_course', { 'id':courses.idCours }) }}">Annuler le cours</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <br />
        <div>
            {{ knp_pagination_render(coursesFollow) }}
        </div>
    </div>

    <h3>Mes spécialités</h3>
    {% if tags is not null %}
        {% for tag in tags %}
            | {{ tag.idNiveau }} en {{ tag.idMatiere }} |<br />
            | <a href="{{ path('update_tag', { 'id':tag.idMatiere }) }}">Modifier</a> |
        {% endfor %}
    {% else %}
        <p>Pas de tags</p>
    {% endif %}
    <br />
    <a href="{{ path('create_tag') }}">Ajouter un tag</a>

    <h3>Notifications</h3>
    <p>Notif tag + forum (réponse)</p>
{% endblock %}
