<html>
    <body>
        <h1>
            Hello {{ app.user.nom }} {{ app.user.prenom }} ! ✅
        </h1>

        Ton cours à bien été enregisté !<br><br>

        Les autres et toi même peuvent le retouver ici :<br>
        http://localhost:8000/courses<br><br>

        Nom du cours : {{ result[0].intitule }}<br>
        Date : {{ result[0].date|format_datetime('full', 'none', locale='fr') }}<br>
        Heure : {{ result[0].heure }}<br>
    </body>
</html>